.title_sp{
    font-size: 25px;
    padding-left: 30px;
}

.filter_sp{
    color: white;
    border: white;
    padding: 30px;
    background-color: #1a1a1a;
    border-style: solid;
    border-width: thin;
   
}

.Gericht_sp{
    color:white;
    border-radius: 6px;
    background-color: #3d3d3d;
    padding-right: 7%;
    padding-top: 0.4%;
    padding-bottom: 0.4%;
    margin: 0.5%;
    font-size: larger;

}
.anzeige_sp a{
    text-align: center;
    color:white;
    text-decoration: none;

}
#Gerichtname_sp{
    text-align: center;
    padding-left: 4.5%;
    padding-right: 4.5%;
}
#maxMoney_sp{
    padding-right: 0%;
    width: 4.5%;
    text-align: center;
}
#resetFilter_sp{
    background-color: #606672;
    color: white;
    border:white;
    border-radius: 6px;
    font-size: larger;
    margin-bottom: 1.5%;
    margin-top: 0.5%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    position: relative;
    float: inline;
    float:right;
    
}
.menu_sp{
    padding: 15px;
    padding-bottom: 10%;
}

.tablerow_sp{
    padding-bottom: 15px;
}
.anzeige_sp .beschreibung_sp{
    display: none;
    width: 25%;
    background-color: #1a1a1a;
    padding-top: 10px;
    bottom: 20%;
    right: 10%;
    border: white;
    border-style: solid;
    border-width: thin;
    text-align: center;
    position: absolute;
    z-index: 1;
}
.element_sp{
    width: 20%;
    background-color: #1a1a1a;
    padding-top: 10px;
    border: white;
    border-style: solid;
    border-width: thin;
}

.anzeige_sp{
    text-align: center;
}

.element_sp img{
    width: 50%;
    height: 50%;
}

.speise_sp{
    padding: 0px;
    font-size: 20px;
}

@media only screen and (max-width: 600px) {
.navigationdown img{
    width: 0;
}
#maxMoney_sp{
    width:20%;
}

#resetFilter_sp{
    margin-top: 1%;
    margin-right: 2%;
}
.menu_sp{
    margin-bottom: 20%;
}
}