*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
body{
    background-color: #3d3d3d;
    margin:0%;
    color: white;
}
body h1{
 margin-left: 5px;
}
body section{
    margin-left: 5px;
}

.navigation{
    position: relative;
    width: 100%;
    overflow: hidden;
    background-color: #1a1a1a;
    float: top;
    
}
.navigation a{
    display: block;
    color: white;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    float: left;
    
}
.footer{
    padding: 10px;
    color: white;
    background-color: #1a1a1a;
    text-align: left;
    width: 100%;
    position: relative;
    float: bottom;
    clear: both;
    overflow: hidden;

}
.navigationdown{
    background-color: #1a1a1a;
}
.navigationdown img{
    float: right;
    width: 10%;
    height: 10%;
    float:top;
    background-color: #1a1a1a;
}
.footer a{
    text-decoration: none;
    color: white;
    width: 75%;
    text-size-adjust: 50%;
    text-align: left;
    float: left;
    background-color: #1a1a1a;

}